
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@DateTime.Now.ToShortDateString() - Döviz Kurları</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-caret-square-o-right"></i>
                                    </div>
                                    <div class="count">@ViewBag.UsdToTry</div>

                                    <h3>Dolar - TL</h3>
                                    <p>Güncel $ - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <div class="count">@ViewBag.EurToTry</div>

                                    <h3>Euro - TL</h3>
                                    <p>Güncel € - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-sort-amount-desc"></i>
                                    </div>
                                    <div class="count">@ViewBag.GbpToTry</div>

                                    <h3>Sterlin - TL</h3>
                                    <p>Güncel ß - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                    <div class="count">@ViewBag.UsdToEur</div>

                                    <h3>Dolar - Euro</h3>
                                    <p>Güncel $ - € Kuru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
